<?xml version='1.0' encoding='utf-8'?>

<plugin id="org.josselinbuils.SMSManager" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>SMSManager</name>
	<description>SMS manager for abdroid.</description>

	<js-module name="SMSManager" src="www/SMSManager.js">
		<clobbers target="SMSManager" />
	</js-module>

	<platform name="android">

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="SMSManager">
				<param name="android-package" value="org.josselinbuils.SMSManager.SMSManager" />
			</feature>
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-feature android:name="android.hardware.telephony" android:required="false" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
			<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
			<uses-permission android:name="android.permission.RECEIVE_MMS" />
			<uses-permission android:name="android.permission.READ_SMS" />
			<uses-permission android:name="android.permission.WRITE_SMS" />
			<uses-permission android:name="android.permission.SEND_SMS" />
		</config-file>

		<source-file src="src/android/SMSManager.java" target-dir="src/org/josselinbuils/SMSManager/SMSManager" />
	</platform>
</plugin>